# Игнорируем временные данные пользователя и пароли
*.txt
login/

# Игнорируем закрытые ключи (даже если они не в папке login)
id_rsa*
*.ppk

# Игнорируем системные логи и бекапы
*.log
*.bak
*.bak_*
*.original
*.new
*.deleted
